.form-container{
	width: 350px;
	height: 500px;
	overflow: hidden;
	/* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38"); */
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.form-container form{
	height: 460px;
	background: #eee;
	/* background-color: pink; */
	border-radius: 60% / 10%;
	/* height: 800px; */
}
.form-container label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	/* margin: 60px; */
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
    padding-top: 6rem;
    margin-top: 4rem;
}
.form-container label{
	color: #573b8a;
	transform: scale(.6);
}
.form-container input, .form-container select{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 1rem 2rem;
	border: none;
	outline: none;
	border-radius: 5px;
}

.form-container textarea{
	display: flex;
	background: #e0dede;
	justify-content: center;
	margin: 20px auto;
	border-radius: 5px;
	border: none;
	outline: none;
}
.form-container .form-container button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	/* background: #573b8a; */
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.form-container .form-container button:hover{
	background: #6d44b8;
}



@media screen and (min-width:768px){
   .form-container{
    margin: 2rem auto;
   } 
}